@use 'variables';

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #000;
}

*:focus-visible {
	outline: 3px dotted variables.$colorHover;
	outline-offset: 5px;
}

html,
body {
	margin: 0 auto;
	overflow: hidden;
	font-size: 16px;
	line-height: 1;
	scroll-behavior: smooth;
}

body {
	font-family: variables.$fontFamily;
	font-weight: variables.$fontWeightRegular;
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
}

img {
	vertical-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: inherit;
	font-size: inherit;
}

.wrapper {
	max-width: variables.$siteContainer;
	margin: 0 auto;
	position: absolute;
	top: 47%;
	transform: translate(0, -47%);
	right: 0;
}

.root__container {
	max-width: variables.$rootContainer;
	padding: variables.$offsetStep (calc(variables.$offsetStep * 5)) variables.$offsetStep 0;
}

.uppercase {
	text-transform: uppercase;
}