$fontFamily: 'MyriadPro',
sans-serif;
$fontWeightRegular: 400;
$siteContainer: 85vw;
$rootContainer: 810px;
$offsetStep: 40px;
$colorText: #2f3536;
$colorSubTitle: #596540;
$colorMenu: #313436;
$colorIcon: #2f3536;
$colorHover: #537F65;
$letterSpacing: 1.1px;
$transition: 0.3s;